.btnBox {
    border: solid black 3px;
    padding: 5px;
    height: 135px;
    width: 145px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}
.imBtn {
    width: 60px;
    height: 60px;
    flex: 50%;
    padding: 5px;
    vertical-align:text-bottom;
}
* {
    box-sizing:border-box;
}
.slideshow_box{
    max-width:1000px;
    position:relative;
    margin:auto;
    margin-bottom:50px;
}
.slides{
    display:none;
}
/*img{
    vertical-align:middle;
}*/

.prev,.nex{
    width:auto;
    font-weight:bold;
    font-size:18px;
    cursor:pointer;
    padding:16px;
    user-select: none;
    margin-top:-22px;
    top:50%;
    color:white;
    transition: 0.4s ease;
    position:absolute;
    border-radius: 0 3px 3px 0;
}
.nex{
    right:0;
    border-radius:3px 0 0 3px;
}
.prev:hover, .nex:hover{
    background-color:black;
    color:white;
}
.gal_nav_img {
    margin-left: auto;
    margin-right: auto;
    vertical-align:top;
    font-family: 'Courier New';
    vertical-align:top;
}
/*
html {
    background: black;
    -webkit-transition-duration: 5s;
    -webkit-transition-delay: 2s;
    transition-duration: 5s;
    transition-delay: 2s;
}
*/